
APIStraviaTec/.vs/APIStraviaTec/v16/

*.v2

APIStraviaTec/APIStraviaTec/bin/Debug/netcoreapp3.1/APIStraviaTec.pdb

APIStraviaTec/APIStraviaTec/obj/APIStraviaTec.csproj.nuget.dgspec.json

APIStraviaTec/APIStraviaTec/obj/APIStraviaTec.csproj.nuget.g.props

APIStraviaTec/APIStraviaTec/bin/Debug/netcoreapp3.1/APIStraviaTec.runtimeconfig.dev.json

APIStraviaTec/APIStraviaTec/obj/Debug/netcoreapp3.1/APIStraviaTec.csproj.CoreCompileInputs.cache

APIStraviaTec/APIStraviaTec/obj/Debug/netcoreapp3.1/APIStraviaTec.csprojAssemblyReference.cache

APIStraviaTec/APIStraviaTec/obj/Debug/netcoreapp3.1/APIStraviaTec.dll

APIStraviaTec/APIStraviaTec/obj/Debug/netcoreapp3.1/APIStraviaTec.pdb

APIStraviaTec/APIStraviaTec/obj/project.assets.json

*.cs

APIStraviaTec/APIStraviaTec/web.config
